/* .container {
  border: 2px solid;
  max-width: 1200px;
  margin: 0 auto;
} */

header {
  display: flex;
  flex-direction: row;
  gap: 10em; /* space between elements in the row */
  justify-content: space-between; /* align along the flex direction */
  align-items: center; /* align across the flex direction */
}

header,
footer,
main {
  padding: 2rem;
}

header,
main {
  /* border-bottom: 2px solid; */
  margin-bottom: 5px;
}

section.itemsToBuy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

article.itemToBuy {
  border: 1px solid black;
  padding: 1rem;
}
article.itemToBuy .controls {
  font-size: 12px;
}
article.itemToBuy .author {
  font-size: 12px;
}
article.itemToBuy p.message {
  font-size: 24px;
}

footer {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.button {
  border-radius: 5px;
  border: 1px solid black;
  padding: 1rem;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
}