{% extends 'base.html' %} 
{% block container %}
<h2>Add an item</h2>
<p>Add an item to the familiy's shopping list.</p>
<form method="POST" action="{{ url_for('create_item', family_code=family_code) }}">
  <p>
    Item's name:
    <input type="text" id="fname" name="fname"/>
  </p>
  <p>Quantity:<input type="text" id="fquantity" name="fquantity"/></p>
  <p>Urgenty (Urgent/Not urgent):<input type="text" id="furgent" name="furgent"/></p>
  <p>
    <a href="{{ url_for('main', family_code=family_code)}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}
