{% extends 'base.html' %} 
{% block container %}
<h2>Update</h2>
<p>Edit a record in the MongoDB database collection.</p>
<form method="POST" action="{{ url_for('edit_item', mongoid=mongoid, family_code = family_code) }}">
  <p>
    Item's name:
    <input type="text" id="fname" name="fname" value="{{doc.name}}" /><br />
  </p>
  <p>
    Quantity:
    <input type="text" id="fquantity" name="fquantity" value="{{doc.quantity}}" /><br />
  </p>
  <p>
    Urgency (Urgent/Not urgent):
    <input type="text" id="furgent" name="furgent" value="{{doc.urgency}}" /><br />
  </p>
  <p>
    Location to buy:
    <input type="text" id="flocation" name="flocation" value="{{doc.location}}" /><br />
  </p>
  <p>
    Item Bought (Yes/No):
    <input type="text" id="fbought" name="fbought" value="{{doc.bought}}" /><br />
  </p>
  <p>
    <a href="{{ url_for('main', family_code = family_code)}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}
