{% extends 'base.html' %} 
{% block container %}
<h2>Enter a Family</h2>
<p>Enter a family providing its Code and Passcode.</p>
<form method="POST" action="{{ url_for('enter_family') }}">
  <p>
    Your Family code:
    <input type="text" id="fcode" name="fcode"/><br />
  </p>
  <p>
    Your Family passcode:
    <input type="text" id="fpasscode" name="fpasscode"/><br />
  </p>
  <p>
    <a href="{{ url_for('home')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Enter" />
  </p>
</form>
{% endblock %}
