{% extends 'base.html' %}

{% block container %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <h2>Shopping List</h2>
    <div class = "row">
        <div class = "col-3">
            <form action="{{ url_for('create', family_code=family_code)}}">
                <button class="btn btn btn-success" type="submit" id="button-add"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                </svg></button>
            </form>
        </div>
        <div class = "col-6">
            <form action="{{ url_for('main', family_code = family_code)}}" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" placeholder="Item's name">
                    <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
                </div>
            </form>
        </div>
        <div class = "col-3">
          <form action="{{ url_for('main', family_code=family_code)}}">
              <button class="btn btn btn-outline-secondary" type="submit" id="button-clear">Clear</button>
          </form>
        </div>
    </div>
    <div id="checkbox-container">
        <section class="itemsToBuy">
            {% for doc in docs %}
            <div class="card" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ doc.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Quantity: {{ doc.quantity }}</h6>
                    <p class="card-text">Urgency: {{ doc.urgency }}</p>
                    <p class="card-text">Location: {{ doc.location }}</p>
                    <p>
                        <div>
                            <label for="option1">Item Bought:</label>
                            <input type="checkbox" id={{doc.name}}>
                        </div>
                    </p>
                    <a href="{{ url_for('edit', mongoid=doc._id, family_code = family_code) }}" class="card-link">Edit</a>
                    <a href="{{ url_for('delete', mongoid=doc._id, family_code = family_code) }}" class="card-link">Delete</a>
                </div>
            </div>
            {%endfor%}

        </section>
    </div>
    <p>
      <div class = "col-3">
        <a href="{{ url_for('family', family_code = family_code)}}">Family members</a>
      </div>
    </p>

    <script>
        var formValues = JSON.parse(localStorage.getItem('formValues')) || {};
          var $checkboxes = $("#checkbox-container :checkbox");
          var $button = $("#checkbox-container button");
          
          function allChecked(){
            return $checkboxes.length === $checkboxes.filter(":checked").length;
          }
          
          function updateButtonStatus(){
            $button.text(allChecked()? "Uncheck all" : "Check all");
          }
          
          function handleButtonClick(){
            $checkboxes.prop("checked", allChecked()? false : true)
          }
          
          function updateStorage(){
            $checkboxes.each(function(){
              formValues[this.id] = this.checked;
            });
          
            formValues["buttonText"] = $button.text();
            localStorage.setItem("formValues", JSON.stringify(formValues));
          }
          
          $button.on("click", function() {
            console.log("hi");
            handleButtonClick();
            updateButtonStatus();
            updateStorage();
          });
          
          $checkboxes.on("change", function(){
            updateButtonStatus();
            updateStorage();
          });
          
          // On page load
          $.each(formValues, function(key, value) {
            console.log("hello");
            $("#" + key).prop('checked', value);
          });
          
          $button.text(formValues["buttonText"]);
          </script>

{% endblock %}