{% extends 'base.html' %}

{% block container %}

    <section>
        <a href="{{ url_for('create', family_code=family_code)}}">Add</a>
    </section>

    <h2>Shopping List</h2>
    <section class="itemsToBuy">

        {% for doc in docs %}
        <article class="itemToBuy">
            <nav class="controls">
                <a href="{{ url_for('edit',mongoid=doc._id, family_code = family_code)}}">Edit</a> | <a href="{{ url_for('delete',mongoid=doc._id, family_code = family_code)}}">Delete</a>
            </nav>
            <p class="name">
                Item's name: {{doc.name}}
            </p>
            <p class="description>">
                Item's description: {{doc.description}}
            </p>
            <hr size="1" width="100%" color="black">  
            <p class="date">
                Added at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
            </p>
        </article>
        {%endfor%}

    </section>

{% endblock %}